<html>
<head>
</head>
<body style="background: #ddd; margin:0;">
    <nav style=" background: #000; padding: 20px ; margin-bottom: 10px;width: 100%; display: flex; align-items: center; justify-content: space-around;">
        <a href='#' style="text-decoration: none; color: #fff;">cosX</a>
        <a href="{% url 'cosx-home' %}" style="text-decoration: none; color: #fff;">home</a>
        
        {% if user.is_authenticated %}
        <a href="{% url 'cosx-home' %}" style="text-decoration: none; color: #fff;">Hi, {{ user.username }}</a>
        <a href="{% url 'logout' %}" style="text-decoration: none; color: #fff;">logout</a>
        {% else %}
        <a href="{% url 'login' %}" style="text-decoration: none; color: #fff;">login</a>
        <a href="{% url 'register' %}" style="text-decoration: none; color: #fff;">register</a>
        {% endif %}
    </nav>
    <div style="width:100%; display: flex; align-items: center; justify-content: space-around;">
        <div style="border-radius: 10px;width: 40%; background: #fff;padding: 5px; display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>