{% extends 'cosx_home/base.html' %}
{% load static %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/static/images/hero1.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">cosX<br><span class="display-6"> An exclusive premium online sports store</span></h1>
      <p class="lead">Get a variety of sports items from various brands</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row p-2 pb-0 pe-lg-0 pt-lg-4 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">UNWRAP STYLE</h1>
      <p class="lead">We have a wide variety of products, You name it we have it!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="/products/" type="button" class="btn btn-dark btn-lg px-4 me-md-2 fw-bold">Shop Now</a>
      </div>
    </div>
    <div class="col-lg-4  shadow-lg">
        <img class="rounded-lg-3" src="/static/images/sports_img.jpg" alt="" width="600">
    </div>
  </div>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 cosX, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Created By</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Soumyadeep Das</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Saikat Mondal</a></li>
      
    </ul>
  </footer>
</div>

{% endblock content %}

