{% extends 'cosx_home/base.html' %}
{% load static %}

{% block content %}

   <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-3 py-3">
              <h5 class="text-muted mb-0">Order History </h5>
            </div>
            <div class="card-body p-4">
              <div class="card shadow-0 border mb-4">
                
              {% comment %} card starts {% endcomment %}
                {% for order in orders %}
                <a href="{{order.id}}" class="card-body text-decoration-none">
                  <div class="row">
                    
                    <div class="col-md-2 d-flex flex-row align-center">
                    <p class=" mb-0">#{{order.id}}</p>
                      <img src="/{{order.product.p_image}}"
                        class="img-fluid" alt="Phone">
                    </div>
                    
                    <div class="col-md-5 text-center d-flex flex-column justify-content-center align-items-center">
                      <p class=" mb-0 ">{{order.product.p_name}}</p>
                      <p class="text-muted mb-0 small">Order placed at {{ order.order_date }} </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{order.fname}} {{order.lname}}</p>
                    </div>
                    
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-dark mb-0 ">₹{{ order.price }}</p>
                    </div>
                  </div>
                  

                </a>

                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 0.1;">

                {% endfor %}

                {% comment %} card ends {% endcomment %}          


              </div> 
          
          </div>
        </div>
      </div>
    </div>
  </section>
   {% endblock content %}
