{% extends 'cosx_home/base.html' %}
{% load static %}






{% comment %} <img class="card-img-top p-3" src="/{{ product.p_image }}" alt="Card image cap"> {% endcomment %}
{% comment %} <h1>{{product.p_name}}</h1>
<h1>{{product.p_description}}</h1>
<h1>{{product.p_buycount}}</h1>
<h1>{{product.p_rating}}</h1>
<h1>{{product.p_price}}</h1> {% endcomment %}

    {% block style %}
        img{
            width: 100%;
            display: block;
        }
    {% endblock style %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3 d-flex flex-row justify-content-center">
                            <div class="text-center p-4"> <img style="max-height: 24rem; width: auto; height: auto;" id="main-image" src="/{{ product.p_image }}" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1"></span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{product.p_brand}}</span>
                                <h5 class="text-uppercase">{{product.p_name}}</h5>
                                <div class="price d-flex flex-row align-items-center"> 
                                    <h4 class="act-price">₹ {{product.p_price}}</h4>
                                    <p class="card-text">&nbsp &nbsp<span class="bg-warning text-light p-1" style="border-radius: 5px">{{ product.p_rating }} </span>&nbsp({{ product.p_buycount }})</p>

                                </div>
                            </div>
                            <h5>Product Description</h5>
                            <p class="about">{{product.p_description}}</p>
                           
                            <div class="cart mt-4 align-items-center"> 
                                {% if user.is_authenticated %}
                                <a href="/checkout/{{ product.id }}" class="btn btn-primary">Buy</a>
                                <a href="/cart/{{ product.id }}" class="btn btn-primary ">Add to cart</a>
                                <a href="/wishlist/{{ product.id }}" class="btn btn-primary">Add to Wishlist</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}