{% extends 'cosx_home/base.html' %}
{% load static %}



{% block content %}


<div class="d-flex justify-content-around w-100">
  <div class="p-2" style="position: sticky;">
    <p class="display-6">filters</p>
    <form method="POST">
      {% csrf_token %}
      <hr>
      <p>Categories</p>
      {% for category in categories %}
      <div class="form-check m-2">
        <input class="form-check-input" type="checkbox" name="{{ category }}" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          {{ category }}
        </label>
      </div>
      {% endfor %}  
      <hr>  
      <p class="mb-0">Max Price</p>
      <input type="range" name="max-price" value="24" min="100" max="10000" oninput="this.nextElementSibling.value = this.value">
      <output>1000</output>
      <hr>

      <button type="submit" class="btn btn-dark">filter</button>

    </form>


  </div>
  <div class="p-2 d-flex flex-column align-items-start" style="width: 80%">
    
    <div class="container pt-3">

      <div class="row height d-flex  align-items-start">
  
        <div class="col-md-8">
          <form>
          <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" name="product" class="form-control" placeholder="Search for products">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
          </form>
        </div>
        
      </div>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-row flex-wrap justify-content-start">

      {% for product in products %}
      
      <div class="card m-2 card-anim" style="width: 18rem;">
        <div class="card-body text-center zoom-anim" >
          <a href="{{product.id}}" class="text-decoration-none text-dark">
          <img class="card-img-top p-3" style="max-width: 18rem;max-height: 18rem;height:auto; width: auto" src="/static/{{ product.p_image }}" alt="Card image cap">
          
            <h5 class="card-title" style="height: 50px">{{ product.p_name }}</h5>
            <p class="card-text">Rating: <span class=" text-light p-1 rating-color" style="border-radius: 5px">{{ product.p_rating }}</span>&nbsp({{ product.p_buycount }})</p>
            <p class="card-text fw-bold" style="font-size: x-large">₹{{product.p_price}}</p>
            
          </a>
          </div>
      </div>
      
      {% endfor %}
      <script>
        let rating = document.getElementsByClassName('rating-color');
        console.log(rating[0].innerHTML)
        for (let i = 0; i < rating.length; i++) {
          if (parseInt(rating[i].innerHTML) >=4 )
            rating[i].style.backgroundColor = "green";
          else if(parseInt(rating[i].innerHTML) >=3)
            rating[i].style.backgroundColor = "yellow";
          else rating[i].style.backgroundColor = "red";
        }
      </script>

    </div>
</div>
</div>



{% endblock content %}